[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-recuva
name: ICA-Recuva
description: Recuva recovers files from a Windows computer hard disk, digital camera card, or MP3 player.
advice: 
version: 153
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-recuva (153-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  3/24/2019 15:16:12

